[user]
	email = {NO_VALUE}
	name = shumayl.asmawi
[core]
	excludesfile = /Users/shumayl.asmawi/.gitignore_global
[alias]
	squash = rebase -i HEAD~

[includeIf "gitdir:~/shumproj/"]
	path = ~/.gitconfig-personal
[url "https://{NO_VALUE}/"]
	insteadOf = git@{NO_VALUE}:
