{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $gitPersonalEmail := promptStringOnce . "gitPersonalEmail" "Personal Git email" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    gitPersonalEmail = {{ $gitPersonalEmail | quote }}
